#matchView header{
	height: 15%;
}

#matchView footer{
	position: fixed;
	bottom: 0;
	height: 5%;
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

#overallScore{
	text-align: center;
}

#matchView footer button{
	display: inline-block;
	border: 1px solid black;
}

.match-view-event{
	width: 100%;
	max-height: 80%;
	overflow: scroll;
}

.setTicker{
	margin:0 1.25rem;
}

.scoreContainer{
	border: 1px solid black;
	margin: 1.5rem auto;
	padding: 0 1rem 1rem 1rem;
	text-align: center;
	max-width: 75%;
}

.scoreboard{
	border-collapse: collapse;
}

.scoreboard td, th{
	position: relative;
	border: 1px solid black;
	padding: .5rem;
}

.scoreboard td img{
	border: none;
	position: absolute;
	left: -25%;
	top: 0;
	width: 50px;
	height: 50px;
}

#matchInspector{
	height: 85%;
	background-color: white;
	z-index: 9999;
}

.editScoreRow{
	display: flex;
	flex-direction: row;
}

.editScoreRow button{
	display: block;
	margin: 0 auto;
}

.editScoreRow div{
	flex-grow: 1;
}

.editScoreRow .scoreboard{
	flex-grow: 2
}


